<div class="full-width-blog-header">
  <h1 class="blog-title">
    About Me and the Blog
  </h1>
</div>

<div class="font-regular blog-content">
  <p>
    Established in 2018, Life Meets Cristina is a lifestyle blog written by me, Cristina.
    I like to think of myself as an adventurous young lady in her twenties that is not afraid to go after her dreams,
    this blog being one of them. All of this would not be possible without my amazing Fiancé, Chayel.
    He is honestly a wizard when it comes to computer and can do literally anything, unlike me.
    Life Meets Cristina will cover everything from personal life stories to DIYs and even traveling.
  </p>
  <p>
    That is not all, since I am a Pastry Chef and my Fiancé is an amazing Chef, I will also be adding some our favorite recipes,
    so you make an amazing meal and even include dessert. If you ever end up trying any of the recipes,
    please let me know as I would love to know how it turned out. With this blog, I hope for you to learn
    something new and even maybe relate to what I am writing. I write this blog for myself, but also
    know that I do this for you, the reader. Without you this would not be possible, so I thank you
    for taking the time to come to my page, read my posts, and for subscribing. It means the world to me!
  </p>
  <p class="font-bold">I Absolutely love…</p>

  <table>
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Family</td>
    <td>My furry brother, Coco</td>
    </tr>
    <tr>
    <td>My other half, Chayel</td>
    <td>Double Chocolate Chip Frappucinos from Starbucks</td>
    </tr>
    <tr>
    <td>All things Food</td>
    <td>Photography</td>
    </tr>
    <tr>
    <td>Traveling</td>
    <td>Baking my life away</td>
    </tr>
    <tr>
    <td>Anything and Everything Disney</td>
    <td></td>
    </tr>
    </tbody>
  </table>

  <p class="about-signature">xoxo, <%=image_tag("signature.png", class: "signature-image") %></p>
</div>
