/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

$coral: #fc614b;
$warm-gray: #7a7a7a;
$soft-white: #eaeaea;

$font-regular: "AvenirNext-Regular", "Lato";
$font-regular-weight: 300;
$font-ultralight: "AvenirNext-UltraLight", "Lato";
$font-ultralight-weight: 100;
$font-bold: "AvenirNext-DemiBold", "Lato";
$font-bold-weight: 400;

$nav-height: 45px;
$footer-height: 75px;

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $coral;
}

.font-regular {
  font-family: $font-regular;
  font-weight: $font-regular-weight;
  color: #4e4e4e;
}

.font-ultralight {
  font-family: $font-ultralight;
  font-weight: $font-ultralight-weight;
}

.font-bold {
  font-family: $font-bold;
  font-weight: $font-bold-weight;
}

.color-coral {
  color: $coral;
}

.blog-content {
  max-width: 786px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  text-align: left;

  .main-image {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  p {
    img {
      margin: 0;
      width: 100%;
    }
  }
}

.full-width-blog-header {
  margin-top: $nav-height;
  height: 280px;
  width: 100%;
  line-height: 280px;
  background-color: $soft-white;
  text-align: center;

  &.home-image {
    background: asset-data-url("large-logo-background.jpg");
    background-size: cover;
  }

  h1.blog-title {
    font-family: $font-ultralight;
    font-weight: $font-ultralight-weight;;
  	font-size: 85px;
    color: $coral;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 120px;
  	text-align: center;
    padding-top: 60px;

    &.no-subtext {
      padding-top: 0;
      line-height: 280px;
    }
  }

  p.blog-subtext {
    font-family: $font-regular;
    font-weight: $font-regular-weight;
  	font-size: 16px;
  	color: #4e4e4e;
    max-width: 100%;
    margin: auto;
    line-height: 10px;
  	text-align: center;
  }
}

p.centered {
  text-align: center;
}

td {
  line-height: 50px;
}

.about-signature {
  color: $coral;
  font-family: $font-bold;
  font-weight: $font-bold-weight;
}

.signature-image {
  width: 20% !important;
}

.about-me-image {
  max-height: 300px;
  float: left;
  max-width: 45%;
  margin: 0px 10px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: $soft-white;
  width: 100%;
  height: $nav-height;
  line-height: $nav-height;

  &.header {
    top: 0;
    left: 0;
    position: fixed;

    a {
      padding: 0 40px;
      font-family: $font-regular;
      font-weight: $font-regular-weight;
  	  font-size: 14px;
  	  text-align: center;
      color: $coral;
      width: 100px;

      &.active {
        font-family: $font-bold;
        font-weight: $font-bold-weight;
      }

      &:hover {
        font-family: $font-bold;
        font-weight: $font-bold-weight;
      }
    }
  }

  &.footer {
    height: $footer-height;
    justify-content: flex-start;

    .logo {
      width: 50px;
      height: 50px;
      padding-top: 10px;
      padding-left: 10px;
    }

    a {
      text-decoration: none;
      padding: 0 5px;
      line-height: 80px;
    }
  }
}

.footer-icon {
  width: 20px;
  height: 20px;
  color: $coral;
}

.logo {
  width: 35px;
  height: 35px;
  padding-top: 5px;
}

.large-logo {
  width: 50%;
  padding-top: 20px;
  max-width: 700px;
}

.blog-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-post {
  margin: 15px 15px;

  .text-container {
    background-color: white;
    border-color: $coral;
    border-width: 2px;
    border-style: solid;
    width: 300px;
    height: 500px;

    .image {
      width: 100%;
      height: 250px;
    }

    .date {
      font-family: $font-ultralight;
      font-weight: $font-ultralight-weight;
    	font-size: 14px;
    	color: $warm-gray;
      padding-left: 10px;
    }

    .blog-title {
      font-family: $font-bold;
      font-weight: $font-bold-weight;
      font-size: 20px;
      color: $warm-gray;
      padding-left: 10px;
      margin: 5px 0;
    }

    .description {
      font-family: $font-regular;
      font-weight: $font-regular-weight;
      font-size: 16px;
      color: $warm-gray;
      padding: 0px 10px;
      margin: 10px 0;
    }

    .read-more {
      font-family: $font-bold;
      font-weight: $font-bold-weight;
      font-size: 16px;
      color: $coral;
      padding-left: 10px;
      margin: 5px 0;
    }
  }
}


#subscribe-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  height: 100%;
  width: 100%;
  animation-name: animate_subscibe_modal;
  animation-duration: 0.4s;

  .modal-content {
    margin: 15% auto;
    padding: 20px;
    height: 225px;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    text-align: center;

    p {
      margin: 15px 100px;
      text-align: center;
      font-family: $font-regular;
      font-weight: $font-regular-weight;
      font-size: 20px;
      color: $coral;
    }

    .subscribe-submit {
      display: block;
      margin: 0 auto;
      width: 255px;
      height: 45px;
      border-radius: 8px;
    	background-color: $coral;

      font-family: $font-regular;
      font-size: 20px;
      font-weight: $font-regular-weight;
      text-align: center;
      color: #ffffff;

      &:hover {
        background-color: #F77564
      }
    }
  }
}

.instagram-feed {
  max-height: 200px;
  display: flex;
  overflow-x: scroll;

  .instagram-container {

    .instagram-image {
      max-width: 500px;
      max-height: 190px;
      width: auto;
      height: auto;
      border-width: 1px 0.5px;
      border-style: solid;
      border-color: $coral;
    }
  }
}

.shopstyle-image-container {
  display: flex;
  justify-content: center;
}

#shopstyle-image {
  width: 150px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;

    &:focus {
      text-decoration: none;
      cursor: pointer;
      color: #F77564;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: #F77564;
    }
}

@keyframes animate_subscibe_modal {
  from {opacity: 0}
  to {opacity: 1}
}
